# Xcode
*.xcworkspace
xcuserdata/
DerivedData/
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/xcode/package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/report.xml

# Bundle artifacts
*.ipa
*.app.dSYM.zip
*.app.dSYM

# Build artifacts
build/
DerivedData/
